@font-face {
  font-family: 'LEMONMILK-Medium';
  src: url('../../assets/fonts/LEMONMILK-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../../assets/fonts/Quicksand-Regular.otf') format('truetype');
}

.sidebar a {
  transition: all .2s ease-in-out;
}

.sidebar a:hover {
  filter: opacity(.5) drop-shadow(0 0 0 green);
}
