<div class="container">
  <header>
    <img class="logo" src="assets/images/tutorialwork.webp" alt="tutorialwork" routerLink="">
    <nav>
      <ul>
        <li><a href="#about">Über mich</a></li>
        <li><a href="#skills">Meine Skills</a></li>
        <li><a href="#projects">Projekte</a></li>
      </ul>
    </nav>
  </header>
  <div class="background">
    ENTWI<br>
    CKLER
  </div>
  <div class="heading">
    HALLO<span class="green">;</span><br>
    ICH BIN MANUEL
  </div>
  <div class="sidebar">
    <a href="https://github.com/Tutorialwork" target="_blank">
      <img src="assets/images/github.webp" alt="github">
    </a>
    <a href="https://youtube.com/Tutorialwork" target="_blank">
      <img src="assets/images/youtube.webp" alt="youtube">
    </a>
    <a href="https://twitter.com/Tutorialwork" target="_blank">
      <img src="assets/images/twitter.webp" alt="twitter">
    </a>
  </div>
</div>
