footer {
  background: var(--green);
  padding: 10px;
}

.footer-container {
  justify-content: space-between;
  flex-direction: row;
}

.link-container p {
  margin: auto 10px;
}

.link {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .link-container p {
    text-align: center;
  }
  p {
    font-size: 12px;
  }
}
