<div class="container container-left">
  <div class="background background-left">
    ÜBER<br>
    MICH
  </div>
  <h1>Über mich<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-item-center">
    <img src="assets/images/manu.png" alt="tutorialwork">
    <p><span class="green">Hey,</span><br>
      ich bin Manuel, Webdeveloper & YouTuber. Meine Leidenschaft ist es nützliche Software & Webseiten zu programmieren, die von jedem genutzt werden kann. Ich programmiere Webseiten wie diese oder auch Android & iOS Apps z.B. PriceNotify (mehr Infos hier), Amazon Alexa Skills wie "Mein Kanal". Für weitere Projekte kannst du unten schauen oder wenn du interessiert bist an Programmieren auch mal meinen YouTube Kanal besuchen.
    </p>
  </div>
</div>
