<div class="container container-left" [@fadeIn]="animationState">
  <div class="background background-left">
    ÜBER<br>
    MICH
  </div>
  <h1>Über mich<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-item-center">
    <img src="assets/images/manu.webp" alt="tutorialwork">
    <p><span class="green">Hey,</span><br>
      ich bin Manuel, Softwareentwickler und YouTuber aus Leidenschaft.
      Am liebsten entwickel ich Mobile Apps (Android & iOS) oder Webseiten wie diese.
      Auf meinem YouTube Kanal findest du Programmier-Tutorials, wenn du Programmieren lernen möchtest schau doch mal vorbei.
      Wenn du interessiert an meinen Projekten bist, scroll doch mal runter.
    </p>
  </div>
</div>
