<div class="container container-left">
  <div class="background background-left">
    PROJEKTE
  </div>
  <h1>Projekte<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-item-center flex-column">
    <app-project
      [projectName]="'PriceNotify'"
      [projectColor]="'#57A7DA'"
      [projectWebsiteUrl]="'https://pricenotify.app'"
      [projectDescription]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'"
      [hasSocialMedia]="true"
    ></app-project>
    <app-project
      [projectName]="'Cody'"
      [projectColor]="'#4FD0BE'"
      [projectWebsiteUrl]="'https://pricenotify.app'"
      [projectDescription]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'"
    ></app-project>
  </div>
</div>
