<div class="container container-left" [@fadeIn]="animationState">
  <div class="background background-left">
    PROJEKTE
  </div>
  <h1>Projekte<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-column">
    <app-project
      [projectName]="'PriceNotify'"
      [projectColor]="'#57A7DA'"
      [projectWebsiteUrl]="'https://pricenotify.app'"
      [projectDescription]="'PriceNotify ist ein Amazon Preis Tracker der dir helfen kann bei deinem nächsten Amazon Kauf Geld zu sparen. Indem du dein gewünschtes Produkt zu PriceNotify hinzufügst inklusive eines Wunschpreis. \n' +
      'Du kannst auch dich bei jeder Preisänderung berichtigen lassen. Ist der von dir eingestellte Wunschpreis erreicht, so wirst du benachrichtigt. \n'+
'Du kannst auch einen Preisverlauf einsehen von jedem hinzugefügten Produkt. In diesem Verlauf wird jede vergangene Preisänderung mit der Uhrzeit protokolliert.'"
      [hasSocialMedia]="true"
    ></app-project>
    <app-project
      [projectName]="'Cody'"
      [projectColor]="'#4FD0BE'"
      [projectWebsiteUrl]="'https://apps.apple.com/de/app/cody-two-factor-authenticator/id1580806194'"
      [projectDescription]="'Cody ist eine zwei Faktor Authentikator App die dir hilf dich sicher in deine Online Account einzuloggen. Cody kann dir auch helfen die Passwortsicherheit zu verbessern indem dir die App sichere Passörter generiert, die du frei einstellen kannst wie z.B. die länge, ob mit Sonderzeichen usw.\n'+
'Außerdem kann Cody überprüfen ob dein Passwort in einem Datenleck veröffentlicht wurde.'"
    ></app-project>
  </div>
</div>
