<div class="container container-left" [@fadeIn]="animationState">
  <div class="background background-left">
    KONTAKT
  </div>
  <h1>Kontakt<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-item-center contact-container">
    <div>
      <img src="assets/images/discord.webp" alt="discord" width="100">
      <h1>Discord</h1>
      <p>Manuel#7648</p>
    </div>
    <div>
      <img src="assets/images/email.webp" alt="email" width="100">
      <h1>Email</h1>
      <p>manuel@tutorialwork.dev</p>
    </div>
  </div>
</div>
