<div class="container container-left" [@fadeIn]="animationState">
  <div class="background background-left">
    SKILLS
  </div>
  <h1>Meine Skills<span class="green">;</span></h1>
  <div class="about-text flex flex-center flex-item-center flex-column">
    <app-skill-progress [skillName]="'java'" [skillProgress]="90"></app-skill-progress>
    <app-skill-progress [skillName]="'flutter'" [skillProgress]="80"></app-skill-progress>
    <app-skill-progress [skillName]="'php'" [skillProgress]="80"></app-skill-progress>
    <app-skill-progress [skillName]="'javascript'" [skillProgress]="60"></app-skill-progress>
    <app-skill-progress [skillName]="'swift'" [skillProgress]="30"></app-skill-progress>
  </div>
</div>
