<div class="flex flex-center reset-text-align project-container">
  <img class="project-logo" src="assets/images/projects/{{projectName.toLowerCase()}}.webp" alt="{{projectName}}" width="200">
  <div>
    <div class="flex">
      <h1 id="{{projectName}}-heading">{{projectName}}</h1>
      <div class="social-container" *ngIf="hasSocialMedia">
        <a href="https://instagram.com/{{projectName}}" target="_blank">
          <img src="assets/images/instagram.webp" alt="instagram" class="social-logo">
        </a>
        <a href="https://twitter.com/{{projectName}}" target="_blank">
          <img src="assets/images/twitter.webp" alt="twitter" class="social-logo">
        </a>
        <a href="https://facebook.com/{{projectName}}" target="_blank">
          <img src="assets/images/facebook.webp" alt="facebook" class="social-logo">
        </a>
      </div>
    </div>
    <p>{{projectDescription}}</p>
    <div class="flex">
      <a class="button" id="{{projectName}}-button" href="{{projectWebsiteUrl}}" target="_blank">Zur Projektseite</a>
    </div>
  </div>
</div>
