:host {
  z-index: 99;
}
.social-logo {
  width: 50px;
  margin: 0 25px;
}
.social-container {
  margin: auto 0;
}
.button {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
}

.project-logo {
  border-radius: 20px;
}
