<div class="container container-left">
  <div class="background background-left">
    VIDEOS
  </div>
  <h1>Meine YouTube Videos<span class="green">;</span></h1>
  <div *ngIf="videos" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center" fxLayoutGap="100px">
    <div *ngFor="let video of videos.items" fxLayout="column" fxLayoutAlign="center center" (click)="openVideo(video)" class="video-container">
      <img [src]="video.snippet.thumbnails.high.url" [alt]="video.snippet.title">
      <p>{{ video.snippet.title }}</p>
    </div>
  </div>
  <div fxLayoutAlign="center">
    <a class="button" href="https://youtube.com/Tutorialwork" target="_blank">Noch mehr Videos</a>
  </div>
</div>
